<div class="container my-4">
    <h2 class="fs-4 mb-4">Trending Now</h2>

    <div class="position-relative">
        <!-- Offer cards container -->
        <div class="row flex-nowrap overflow-hidden" #carouselContainer>
            <div *ngFor="let offer of visibleOffers" class="col-md-3 col-6">
                <div class="card offer-card border-0 shadow-sm" (click)="goToDetails(offer.id)"
                    style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="{{ offer.image }}" class="card-img-top rounded-3" alt="{{ offer.title }}">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2 px-2 py-1">
                            {{ offer.discount }}% OFF
                        </span>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-title ">{{ offer.title }}</p>
                        <p class="card-title light-gray">{{ offer.description }}</p>


                        <p class="mb-1">
                            <span class="text-decoration-line-through me-2 light-gray">{{ offer.originalPrice }}
                                EGP</span>
                            <span class="text-primary fw-bold">{{ offer.price }} EGP</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left navigation button -->
        <button
            class="btn btn-light border position-absolute start-0 top-50 translate-middle-y rounded-circle shadow-sm"
            (click)="prevSlide()" [disabled]="currentIndex === 0">
            &#10094;
        </button>

        <!-- Right navigation button -->
        <button class="btn btn-light border position-absolute end-0 top-50 translate-middle-y rounded-circle shadow-sm"
            (click)="nextSlide()" [disabled]="currentIndex + 4 >= offers.length">
            &#10095;
        </button>
    </div>
</div>