<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #0052ac"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="images/logo.png"
        alt="Logo"
        style="width: 120px; height: 40px"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center text-light">
        <!-- لو مفيش username -->
        <ng-container *ngIf="!username">
          <li class="nav-item">
            <a class="btn btn-outline-light fs-7 fw-bold" href="/signup"
              >Sign Up</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fs-7" href="/login">Login</a>
          </li>
        </ng-container>

        <!-- لو في username -->
        <ng-container *ngIf="username">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light fs-7"
              href="#"
              id="userDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="$event.preventDefault()"
            >
              {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="/my-profile">My Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/appointments"
                  >My Appointments</a
                >
              </li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ng-container>

        <!-- روابط عامة -->
        <li class="nav-item">
          <a class="nav-link text-light fs-7" href="/loginForDoctor"
            >Vezeeta For Doctors</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fs-7" href="/contactUS">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fs-7" routerLink="/">عربى</a>
        </li>
      </ul>

      <!-- Country Dropdown -->
      <div class="d-flex align-items-center ms-3">
        <div class="dropdown">
          <button
            class="btn text-light dropdown-toggle fs-7"
            type="button"
            data-bs-toggle="dropdown"
            style="background-color: #0052ac"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg"
              width="20"
            />
            Egypt
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Egypt</a></li>
            <li><a class="dropdown-item" href="#">السعودية</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
