.download-buttons img {
  height: 45px;
  margin: 8px;
  max-width: 160px;
}

@media (max-width: 768px) {
  .Search {
    display: none;
  }

  .thirdcol {
    display: none;
  }

  .fourthcol {
    display: none;

  }
}