<footer class="text-light py-4" style="background-color: #0052AC;">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-start">
            <!-- العمود الأول: الشعار والمعلومات -->
            <div class="col-md-2 mb-3">
                <img src="images/logo.png" alt="Logo" style="width: 100px; height: 30px; margin-bottom: 10px;">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Our Team</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Careers</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Press</a></li>
                </ul>
            </div>

            <!-- العمود الثاني: البحث حسب -->
            <div class="col-md-2 mb-3">
                <h5 class="fw-bold">Search By</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Speciality</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Area</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Insurance</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Hospital</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Center</a></li>
                </ul>
            </div>

            <!-- العمود الثالث: للأطباء -->
            <div class="col-md-2 mb-3">
                <h5 class="fw-bold">Are You A Doctor?</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Join Vezeeta Doctors</a></li>
                </ul>
            </div>

            <!-- العمود الرابع: المساعدة -->
            <div class="col-md-2 mb-3">
                <h5 class="fw-bold">Need Help?</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Medical Library</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Terms Of Use</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Doctors Privacy Policy</a></li>
                </ul>
            </div>

            <!-- العمود الخامس: أيقونات السوشيال ميديا -->
            <div class="col-md-4 mb-3 text-md-end text-center">
                <a
                    href="https://play.google.com/store/apps/details?id=com.ionicframework.vezeetapatientsmobile694843&hl"><img
                        style="height: 45px;
                    margin-bottom: 8px;
                    max-width: 140px;"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/512px-Google_Play_Store_badge_EN.svg.png"
                        alt="Google Play"></a>
                <a href="https://apps.apple.com/eg/app/vezeeta-doctors-pharmacy/id1010281314">
                    <br>
                    <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" 
                    style="height: 45px;
                        margin-top: 8px;
                        margin-bottom: 16px;
                        max-width: 160px;" alt="App Store"></a><br>
                <a href="https://www.facebook.com/Vezeeta/" class="text-light me-3"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/vezeeta" class="text-light me-3"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://x.com/VEZEETA_Egypt" class="text-light"><i class="fab fa-x-twitter fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>