 .active-link {
    border-bottom: 2px solid red;
    padding-bottom: 4px;
}



.nav-link {
    
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;
    transition:white 0.3s ease, color 0.3s ease;
}


  .nav-item.dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }
  
  .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }


  /* يظهر الميجا منيو عند الهوفر */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* علشان يتجنب أي تأخير */
}

/* نضبط شكل العناصر */
.dropdown-menu {
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
}


.hover-bg-gray:hover {
  background-color: gray !important;
  color: black !important;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;

}

.hover-bg-white:hover {
    background-color: white !important;
    color: black !important;
    transition: all 0.3s;
    border-radius: 5px;
    padding-left: 10px;

  }
  
  .cursor-pointer1 {
    cursor: pointer;
  }

  
  .hover-bg-gray:hover {
    background-color: #e2e6ea !important;
    transition: all 0.1s ease-in-out;
    border-radius: 5px;
    color: black !important;
    width:fit-content
  }
