<div class="specialties-container bg-light py-5">
    <div class="container position-relative">
        <h2 class="mb-4 h2-style">Book from top specialties</h2>
        <div class="row flex-nowrap overflow-hidden">
            <div *ngFor="let specialty of visibleSpecialties" class="col-md-3 col-6 mb-4">
                <div class="card h-100 shadow-sm" (click)="navigateToSpecialtyDetails(specialty.id)"
                    style="cursor: pointer;">
                    <a routerLink={{specialty.specialistName}}><img [src]="specialty.image" class="card-img-top rounded-top" [alt]="specialty.title"></a>
                    <div class="card-body">
                        <h5 class="card-title title">{{ specialty.title }}</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation buttons -->
        <button
            class="btn btn-light border position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm"
            (click)="prevSlide()" [disabled]="currentIndex === 0">
            &#10094;
        </button>
        <button class="btn btn-light border position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm"
            (click)="nextSlide()" [disabled]="currentIndex + 4 >= specialties.length">
            &#10095;
        </button>
    </div>
</div>