<div class="bg-light py-5">
<div class="container py-4">
    <div class="card shadow-sm rounded-4 border-0">
      <div class="card-body">
        <h5 class="card-title fw-bold">Have a Medical Question?</h5>
        <p class="card-text text-muted">
          Submit your medical question and receive an answer from our AI Assistant
        </p>
        <button class="btn btn-primary btn-lg px-4" (click)="isChatOpen = true">Ask now</button>
      </div>
    </div>
  </div>

</div>
<!-- Floating chat toggle button for Chat gpt -->
<button class="chat-toggle-btn" (click)="toggleChatAi()">
  💬
</button>
<app-chat-assistant *ngIf="isChatOpen" class="chat-popup" (closePopup)="isChatOpen = false"></app-chat-assistant>
<app-chat-ai *ngIf="isChatAiOpen" (close)="isChatAiOpen = false"></app-chat-ai>


