<!-- Appointment Reservation Component Template -->
<div class="appointment-reservation">
  <div class="appointment-header">
    <button class="nav-arrow" (click)="prevDay()" [disabled]="currentDayIndex === 0">❮</button>
    <div class="appointment-times">
      <div class="times-column" *ngFor="let day of getDisplayedDays()">
        <div class="day-card">
          <div class="day-header">{{ day.displayText }}</div>


          <ng-container *ngIf="getAppointmentsForDay(day).length > 0; else noAppointments" >
            <div class="time-slot-scroll" #timeSlotScroll>
              <button *ngFor="let time of getAppointmentsForDay(day)" class="time-btn"
                [class.booked]="isBooked(day.date, time) || isPast(day.date, time)"
                (click)="bookAppointment(time, day.date)"
                [disabled]="isBooked(day.date, time) || isPast(day.date, time)">
                {{ time }}
              </button>
            </div>
          </ng-container>


          <ng-template #noAppointments>
            <p>No Available Appointments</p>
          </ng-template>


          <button class="book-btn" [ngClass]="{'disabled': getAppointmentsForDay(day).length === 0}"
            (click)="bookAppointment(getAppointmentsForDay(day)[0], day.date)"
            [disabled]="getAppointmentsForDay(day).length === 0">
            BOOK
          </button>
        </div>
      </div>
    </div>
    <button class="nav-arrow" (click)="nextDay()" [disabled]="currentDayIndex >= displayedDays.length - 3">❯</button>
  </div>
</div>
<p class="appointment-label">Appointment reservation</p>