<!-- carasoul -->
<section class="hero position-relative" style="height: calc(100vh-100px);">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/jenkins-117/images/homecovernewen2-eg-en.jpg"
            class="d-block w-100"
            alt="photo carasoul"
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/jenkins-117/images/homecovernewen3-eg-en.jpg"
            class="d-block w-100"
            alt="photo carasoul"
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/jenkins-117/images/homecovernewen4-eg-en.jpg"
            class="d-block w-100"
            alt="photo carasoul"
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/jenkins-117/images/homecovernewen1-eg-en.jpg"
            class="d-block w-100"
            alt="photo carasoul"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- overlay -->
    <div class="overlay"></div>
    <!-- hero text -->
    <div class="position-absolute p-5 text-white" style="left:10%; top:50px;">
      <h1 class="better fw-bold" style="color: #6F7072;">Better Healthcare for a Better Life</h1>
      <p class="book fs-4" style="color: gray;">
        Book online or call <i class="fa-solid fa-phone" style="color: red;"></i>
        <a href="tel:16676" class="fw-bold text-danger text-decoration-none">16676</a>
      </p>
    </div>
  </section>
  