mat-accordion {
    margin: 30px auto;
}

mat-expansion-panel {
    margin: 30px auto;
    width: 50%;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #3f51b5;
}


  .custom-save-btn {
    background-color: #198754 !important; /* تخصيص لون الزر */
    color: white !important; /* تغيير لون النص داخل الزر */
    padding: 8px 16px !important;
    border-radius: 4px !important;
    border: none !important;
    margin-top: 15px !important; /* إضافة مسافة فوق الزر */
    font-size: 16px !important; /* تكبير حجم الخط */
    width: 100% !important; /* جعل الزر يملأ العرض بالكامل */
  }
  .custom-delete-btn {
    background-color: #dc3545 !important; /* تخصيص لون الزر */
    color: white !important; /* تغيير لون النص داخل الزر */
    padding: 8px 16px !important;
    border-radius: 4px !important;
    border: none !important;
    margin-top: 15px !important; /* إضافة مسافة فوق الزر */
    font-size: 16px !important; /* تكبير حجم الخط */
    width: 100% !important; /* جعل الزر يملأ العرض بالكامل */
  }

  