<div class="bg-light pt-5">
    <div class="booking-card ">
        <div class="header">
            <img src="https://img.icons8.com/color/96/000000/checkmark--v1.png" alt="Success">
            <h2>Your booking was successfully submitted</h2>
        </div>
        <div class="content">
            <div class="info">
                <i class="fa-regular fa-envelope text-primary"></i>
                <span class="info-text">We notified {{bookingData?.doctor?.doctorName}} of your booking</span>
            </div>

            <div class="info">
                <i class="fa-solid fa-money-bill-wave text-primary"></i>
                <span class="info-text">
                    Examination Fees: {{bookingData?.doctor?.fees}} EGP
                    <span class="highlight-box">Vezeeta Points: 1,500</span>
                </span>
            </div>

            <div class="info">
                <i class="fa-solid fa-phone text-primary"></i>
                <span class="info-text">
                    Clinic number: <a href="tel:01155440708" class="link">{{bookingData?.booking?.clinicNumber}}</a>
                </span>
            </div>

            <div class="info">
                <i class="fa-solid fa-calendar-days text-primary"></i>
                <span class="info-text">Booking details</span>
            </div>


            <table class="details-table">
                <tr>
                    <td>Patient name</td>
                    <td>{{bookingData?.patient?.name}}</td>
                </tr>
                <tr>
                    <td>Booking date</td>
                    <td>{{bookingData?.booking?.date}} . From 11:00 AM to 11:00 PM Appointment reservation</td>
                </tr>
                <tr>
                    <td>Doctor Name</td>
                    <td>{{bookingData?.doctor?.doctorName}}</td>
                </tr>
                <tr>
                    <td>Waiting Time</td>
                    <td>30 Minutes</td>
                </tr>
                <tr>
                    <td>Clinic address</td>
                    <td>{{bookingData?.doctor?.city}} - {{bookingData?.doctor?.street}}
                        <a href="#" class="link" style="margin-left: 10px;">View on Maps</a>
                    </td>
                </tr>
            </table>
        </div>

        <!-- <a (click)="goToMyAppointments()" class="footer-btn">My Appointments</a>
        <a (click)="goToMyPayment()" class="footer-btn">Pay Now</a> -->

        <div class="footer-btns">
          <a (click)="goToMyAppointments()" class="footer-btn btn-appointments">My Appointments</a>
          <a (click)="goToMyPayment()" class="footer-btn btn-payment">Pay Now</a>
        </div>
        
    </div>
    <div class="text-center" style="font-size: small; padding: 20px;">
        <p>Thank you for using Vezeeta, We wish you a speedy recovery</p>
        <p>If you have any inquiry please call <i class="fa-solid fa-phone" style="color: red;"></i> 16676</p>
    </div>
</div>
