<!-- All Doctors Component Template -->
<div class="container mt-5">
  <h2 class="mb-4 fw-bold specialty-header">{{ specialty }}</h2>

  <div class="row justify-content-center">
      <div class="col-12 mb-4" *ngFor="let doctor of visibleDoctors()">
      <div class="doctor-card">
        <div class="card-content">
          <!-- Clinic Logo -->
          <div class="logo-container">
            <img [src]="getDoctorImage(doctor.id)" class="clinic-logo" alt="Clinic Logo" />
          </div>

          <!-- Doctor Info and Appointments -->
          <div class="doctor-details">
            <!-- Doctor Info -->
            <div class="doctor-info">
              <h5 class="doctor-name">{{ doctor.doctorName }} </h5>
              <p class="main-specialty">{{ doctor.clinicName }} {{ doctor.mainSpecialty }}</p>
              <div class="rating">
                <span class="stars">★★★★★</span>
                <span class="rating-text">Overall Rating From 104 Visitors</span>
              </div>
              <p class="sub-specialty">{{ doctor.subSpecialty }}</p>

              <div class="info-item">
                <i class="fa-solid fa-tooth" style="color: #ff6347;"></i>
                <span>{{ doctor.subSpecialty }}</span>
              </div>
              <div class="info-item">
                <i class="fa-solid fa-location-dot" style="color: #519ed8;"></i>
                <span>{{ doctor.street }}</span>
              </div>
              <div class="info-item">
                <i class="fa-solid fa-money-bill" style="color: #32cd32;"></i>
                <span>{{ doctor.fees }} EGP</span>
              </div>
              <div class="info-item">
                <i class="fa-solid fa-clock" style="color: #4682b4;"></i>
                <span>Waiting Time: 15 Minutes</span>
              </div>
              <div class="info-item">
                <i class="fa-solid fa-phone" style="color: #ff6347;"></i>
                <span>{{ doctor.phone }}</span>
                <span class="rating-text">16676</span>
              </div>
            </div>

            <!-- Appointment Reservation Section -->
            <div class="reservation">
              <app-appointment-reservation [doctor]="doctor"></app-appointment-reservation>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="visibleDoctors().length === 0" class="text-center">
    <p>No doctors found for this specialty.</p>
  </div>

  <div class="pagination-controls mt-4">
    <button class="btn btn-secondary me-2" [disabled]="currentPage() === 1" (click)="prevPage()">
      Previous
    </button>
    <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
    <button class="btn btn-secondary ms-2" [disabled]="currentPage() === totalPages()" (click)="nextPage()">
      Next
    </button>
  </div>
</div>
