<div class="card shadow-sm rounded" style="max-width: 500px;margin: auto;">
  <h5 class="text-center text-white text-center bg-primary py-2" style="font-size: 16px;">Booking Information</h5>
  <h6 class="text-center text-secondary">Book <span class="text-primary">Examination</span></h6>
  <hr class="mt-0 mb-2">
  <div class="d-flex justify-content-between text-center px-4">
    <div>
      <i class="bi bi-cash-coin text-primary fs-4"></i><br>
      <strong>Fees</strong><br>
      <span class="text-dark">{{bookingInfo.doctor.fees}} EGP</span>
    </div>
    <div>
      <i class="bi bi-coin text-warning fs-4"></i><br>
      <strong>You’ll earn</strong><br>
      <span class="text-success">1,500 points</span>
    </div>
    <div>
      <i class="bi bi-clock text-success fs-4"></i><br>
      <strong>Waiting Time</strong><br>
      <span class="text-danger">30 Minutes</span>
    </div>
  </div>
  <hr class="my-2">
  <div class="px-4">
    <i class="bi bi-geo-alt-fill text-danger"></i>
    <strong> {{bookingInfo.doctor.city}} : {{bookingInfo.doctor.street}}</strong><br>
    <small class="text-muted">Book now to receive the clinic’s address details and phone number</small>
  </div>
  <hr class="my-2">

  <div class="text-muted text-center">
    <p style="font-weight: bold;font-size: 18px; margin: 0;padding: 0;">Enter Your Info.</p>
    <small>{{bookingInfo.day}} - {{bookingInfo.time}}</small>
  </div>
  <form #bookingForm="ngForm" class="px-4">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
      type="text"
      name="name"
      [(ngModel)]="bookingData.name"
      class="form-control"
      placeholder="Your Name"
      required
      minlength="3"
      #name="ngModel"
      >
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger mt-1">
        <small *ngIf="name.errors?.['required']">Name is required.</small>
        <small *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</small>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Phone</label>
      <div class="input-group">
        <input
        type="tel"
        name="phone"
        [(ngModel)]="bookingData.phone"
        class="form-control"
        placeholder="Your Phone"
        required
        pattern="^(010|011|012|015)[0-9]{8}$"
        #phone="ngModel"
        >
        <span class="input-group-text">
          <img src="https://flagcdn.com/w40/eg.png" width="20" alt="EG Flag">
        </span>
      </div>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger mt-1">
        <small *ngIf="phone.errors?.['required']">Phone number is required.</small>
        <small *ngIf="phone.errors?.['pattern']">Enter a valid Egyptian phone number.</small>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Email Address (Optional)</label>
      <input
      type="email"
      name="email"
      [(ngModel)]="bookingData.email"
      class="form-control"
      placeholder="Email Address"
      email
      #email="ngModel"
      >
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger mt-1">
        <small *ngIf="email.errors?.['email']">Please enter a valid email.</small>
      </div>
    </div>

    <div *ngIf="showCaptcha" class="mb-3">
      <div class="g-recaptcha" data-sitekey="6LdZKSMrAAAAAFULdVojKK1gt52rhCKu-7YYuQNL"></div>
    </div>
  
    <div class="d-flex justify-content-between pb-4">
      <button type="submit" (click)="bookAppointment()" class="btn btn-danger w-50 me-2">Book</button>
      <button type="button" (click)="onCancel()" class="btn btn-outline-secondary w-50">Cancel</button>
    </div>
  </form>
</div>
