<div class="container d-flex justify-content-center container_card">
  <div class="card">
    <h2 class="card-header text-center bg-primary text-white">Sign Up</h2>
    <div class="card-body">
      <a
        href="https://www.facebook.com/login.php"
        class="btn btn-primary w-30 text-white d-flex align-items-center justify-content-center"
      >
        <i class="fab fa-facebook me-2"></i> Connect With Facebook
      </a>
      <div class="d-flex align-items-center my-3">
        <hr class="flex-grow-1" />
        <span class="or-circle">OR</span>
        <hr class="flex-grow-1" />
      </div>

      <form #signupForm="ngForm" (ngSubmit)="register()" novalidate>
        <div class="mb-3 row">
          <label class="col-md-4 col-form-label"
            >Your Name <span class="text-danger">*</span></label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              placeholder="First name and Last name"
              [(ngModel)]="user.name"
              name="name"
              #name="ngModel"
              required
              pattern="^[A-Za-z\s]{3,}$"
            />
            <div
              class="invalid-feedback d-block ms-4"
              *ngIf="name.invalid && (name.touched || signupForm.submitted)"
            >
              Name must be at least 3 characters long and contain only English
              letters and spaces.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-md-4 col-form-label"
            >Mobile Number <span class="text-danger">*</span></label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Number"
              [(ngModel)]="user.phone"
              name="mobile"
              #mobile="ngModel"
              required
              pattern="^01[0-2,5]\d{8}$"
            />
            <div
              class="invalid-feedback d-block ms-4"
              *ngIf="mobile.invalid && (mobile.touched || signupForm.submitted)"
            >
              Enter a valid Egyptian mobile number(010 // 011 // 012 // 015) (11
              digits).
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-md-4 col-form-label"
            >Email Address <span class="text-danger">*</span></label
          >
          <div class="col-md-8">
            <input
              type="email"
              class="form-control"
              placeholder="example@domain.com"
              [(ngModel)]="user.email"
              name="email"
              #email="ngModel"
              required
            />
            <div
              class="invalid-feedback d-block ms-4"
              *ngIf="email.invalid && (email.touched || signupForm.submitted)"
            >
              Please enter a valid email address.
            </div>
          </div>
        </div>

        <div class="mb-3 d-flex align-items-center">
          <label class="col-sm-4 col-form-label text-start">Gender *</label>
          <div class="d-flex">
            <div class="form-check me-3">
              <input
                class="form-check-input"
                type="radio"
                [(ngModel)]="user.gender"
                name="gender"
                value="M"
                required
              />
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                [(ngModel)]="user.gender"
                name="gender"
                value="F"
                required
              />
              <label class="form-check-label">Female</label>
            </div>
          </div>
        </div>
        <!-- Birth Date Field -->
        <div class="mb-3 row">
          <label class="col-md-4 col-form-label">
            Birth Date <span class="text-danger">*</span>
          </label>
          <div class="col-md-8">
            <input
              type="date"
              class="form-control"
              [(ngModel)]="user.birthDate"
              name="birthDate"
              [max]="maxDate"
              #birthDate="ngModel"
              required
            />
            <div
              class="invalid-feedback d-block ms-4"
              *ngIf="
                (birthDate.invalid &&
                  (birthDate.touched || signupForm.submitted)) ||
                isBirthDateInvalid()
              "
            >
              Birth date is required and cannot be in the future.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-md-4 col-form-label"
            >Password <span class="text-danger">*</span></label
          >
          <div class="col-md-8">
            <input
              type="password"
              class="form-control"
              placeholder="At least 8 characters"
              [(ngModel)]="user.password"
              name="password"
              #password="ngModel"
              required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$"
            />
            <div
              class="invalid-feedback d-block ms-4"
              *ngIf="
                password.invalid && (password.touched || signupForm.submitted)
              "
            >
              Password must be at least 8 characters, include an uppercase &
              lowercase letters
            </div>
          </div>
        </div>

        <p class="text-center small">
          By signing up you agree to our
          <a href="https://www.vezeeta.com/en/Generic/TermsAndConditions"
            >Terms Of Use</a
          >
        </p>
        <div *ngIf="showCaptcha" style="margin: 3px auto;" >
          <div
            class="g-recaptcha"
            data-sitekey="6Ld7XBorAAAAANMQY-FKhCQ1xGhD-QsJuPmFczMD"
            data-callback="onRecaptchaSuccess">
          </div>
        </div>
        
        <button type="submit" class="btn btn-danger w-30">JOIN NOW</button>
      </form>
    </div>
    
    <div class="card-footer text-center">
      Already Registered in Vezeeta?
      <a href="./login" class="signup-link fw-bold">Login</a>
    </div>
  </div>
</div>
