<div class="outer-container">
  <div class="offer-details-container">
    <div class="main-image">
      <img [src]="imageUrl" alt="Main Offer Image" />
    </div>

    <div class="doctor-details">
      <div class="doctor-info">
        <h3>Clinic Name</h3>
        <p class="clinic-name">{{ offer?.clinicName || 'Best Clinic' }}</p>
      </div>
    </div>
  </div>

  <div class="side-component" *ngIf="offer">
    <div class="offer-info">
      <h2>{{offer.title}}</h2>
      <p class="offer-description">{{ offer.description }}</p>
      <div class="discount-section">
        <span class="discount-percentage">{{ offer.discountPercentage }}% خصم</span>
      </div>
      <div class="rating">
        <span class="stars">★★★★★</span>
        <span class="recently-added">Recently Added</span>
      </div>
      <div class="price-section">
        <div class="price-details">
          <span class="original-price">{{ offer.originalPrice }} EGP</span>
          <span class="final-price">{{ offer.finalPrice }} EGP</span>
          <span class="savings">save {{ (offer.originalPrice ?? 0) - (offer.finalPrice ?? 0) }} EGP</span>
        </div>
      </div>
      <div class="stats">
        <!-- <span class="stat-item"><span class="icon">🖱️</span> 7 Bookings</span>
        <span class="stat-item"><span class="icon">👁️</span> 409 Views</span> -->
        <span class="stat-item"><span class="icon">⏳</span> LIMITED TIME</span>
      </div>
    </div>

    <hr class="horizontal-divider" />

    <div class="appointment">
      <app-booking-form-simple [offer]="offer"></app-booking-form-simple>
    </div>

    <hr class="horizontal-divider" />

    <div class="map-placeholder">
      <p>Map Placeholder</p>
    </div>
  </div>
</div>
<!-- added by MA -->
<!-- <div class="  text-center mb-3">
  <a routerLink="/allOffers" class="btn btn-primary"  > Back To All Offers </a>
</div> -->
<div class="  text-center mb-3">
  <button class="btn btn-primary px-5 " (click)="goBack()"> Back</button>
</div>

<div>
  <button *ngIf="showScrollTop"
  class="btn btn-warning position-fixed bottom-0 end-0 m-4 rounded-circle shadow"
  style="width: 45px; height: 45px;"
  (click)="scrollToTop()">
&#8679;
</button>

</div>

