<div class="container py-5">
  <div class="row text-center">
    
    <div class="col-md-3 mb-4">
      <img src="images\svgIcons\medical-care-icon1.svg" alt="Healthcare" class="mb-3" width="40" />
      <h6 class="fw-bold">All your healthcare needs</h6>
      <p class="text-muted">
        Search and book a clinic visit, home visit, or a teleconsultation. Order your medicine and book a service or operation.
      </p>
    </div>

    <div class="col-md-3 mb-4">
      <img src="images\svgIcons\doctor-icon2.svg" alt="Reviews" class="mb-3" width="40" />
      <h6 class="fw-bold">Verified patient reviews</h6>
      <p class="text-muted">
        Doctor ratings are from patients who booked and visited the doctor through Vezeeta.
      </p>
    </div>

    <div class="col-md-3 mb-4">
      <img src="images\svgIcons\booking-icon3.svg" alt="Booking" class="mb-3" width="40" />
      <h6 class="fw-bold">Your booking is confirmed</h6>
      <p class="text-muted">
        Your booking is automatically confirmed, as the doctor specifies his working hours and is notified of the booking details.
      </p>
    </div>

    <div class="col-md-3 mb-4">
      <img src="images\svgIcons\security-icon4.svg" alt="Pay" class="mb-3" width="40" />
      <h6 class="fw-bold">Book for free, and pay in the clinic</h6>
      <p class="text-muted">
        The consultation fees stated on Vezeeta are the actual doctor's fees with no extra charges.
      </p>
    </div>
  </div>
</div>


<div class="container-fluid download-section text-center text-md-start mb-5" dir="ltr">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-center">
          <img src="images\dowanloadApp-eg-en.png" alt="Vezeeta App" class="app-image" width="300" height="300">
        </div>
        <div class="col-md-6 text-section pe-4">
          <h2 class="dva fw-bold mb-3">Download Vezeeta Application</h2>
          <p class="downloadtext mb-4">
            Search, compare and book doctor consultations with ease. Order
            <span class="d-block">your medicines & get them deilvered within 60 minutes. Track</span>
            <span class="d-block">your steps count & earn points on hitting the daily goal</span>
          </p>
          <div class="download-buttons d-flex flex-wrap justify-content-center justify-content-md-start">
            <a href="https://play.google.com/store/apps/details?id=com.ionicframework.vezeetapatientsmobile694843&hl"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/512px-Google_Play_Store_badge_EN.svg.png" alt="Google Play"></a>
            <a href="https://apps.apple.com/eg/app/vezeeta-doctors-pharmacy/id1010281314"><img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
