
<app-navbar-offers></app-navbar-offers>

<section class="container my-5">
    <h2 class="mb-4">Dental Fillings</h2>
  
    <div class="row g-4">
      <div class="col-md-6 col-lg-4" *ngFor="let service of services">
        <app-service-card
          [image]="service.image"
          [title]="service.title"
          [discount]="service.discount"
          [description]="service.description"
          [rating]="service.rating"
          [reviewCount]="service.reviewCount"
          [bookedCount]="service.bookedCount"
          [originalPrice]="service.originalPrice"
          [discountPrice]="service.discountPrice"
          [hasOffer]="service.originalPrice > service.discountPrice"
          [id]="service.id"
      [offersLink]="service.offersLink || ''"
        >
        </app-service-card>
      </div>
    </div>
  </section>